/* .navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(216, 214, 212);
}
.flexboy{
     display: flex;
     align-items: center;
     justify-content:unset;
     align-content: center;
     margin:auto;
     color: white;
     font-weight: 700;
     font-size: 1.5rem;
}
.backend{
  flex-grow: 2;
  margin-right: -550px;
}
.firstend{
    flex-grow: 1;
    margin-left: -280px;
} */
.linkgula{
    font-size: 1.3rem;
    font-weight: 600;
}
.ami{
    /* background-color: #f3bf32; */
    background: linear-gradient(to left, rgb(194, 240, 201),rgb(160, 255, 131));
}
